<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.org/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true">
    <testsuites>
        <testsuite name="OrcaRail Cashier">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="ORCARAIL_API_KEY" value="ak_test"/>
        <env name="ORCARAIL_API_SECRET" value="sk_test"/>
        <env name="ORCARAIL_WEBHOOK_SECRET" value="whsec_test"/>
    </php>
</phpunit>
